*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card h1 {
    margin-bottom: 20px;
    color: #e91e63;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e91e63;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c2185b;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.reset-btn {
    margin-top: 10px;
    background-color: #555;
}

.reset-btn:hover {
    background-color: #333;
}


@media (max-width: 400px) {
    .card {
        padding: 25px;
    }

    .card h1 {
        font-size: 20px;
    }
}
